# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Node / React
node_modules/

# Build folders
dist/
build/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic
*.db